.apresentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hello-h1,
.iAm-h1 {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-right: 5px; /* Add spacing between letters */
}

.nameDiv{
    margin-top:40px;
}

.name-h1 {
  color: white;
  font-size: 3rem;
}

.helloDiv {
  display: flex;
}

.typing-effect {
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid;
  animation: typing 7s steps(20) infinite;
}


@keyframes typing {
    0% {
      width: 0%;
    }
    40%, 100% {
      width: 100%;
    }
    
}

@media only screen and (max-width: 500px) {
  .name-h1 {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 700px) {
  .name-h1 {
    font-size: 1.7rem;
  }
}

.left-apresentation {
  display: flex;
  flex-direction: column;
}
