.project {
    color: white;
    display:flex;
    justify-content: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
    
}

.card {
    /* Add shadows to create the "card" effect */
    background-color: white; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 21rem;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    transform: scale(1.02);
  }
  
  /* Add some padding inside the card container */
  .container {
    
    display: flex;
    flex-direction: column;
    align-items: center;

  }

.cards {
    display: flex;
    justify-content: space-around;
    margin: 50px 0 85px 0;
}
